body {
    height: 900px;
    background-color: #8B1900
}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    border-radius: 0
  
}

ul{
margin-bottom: 0
}
.clear{
    clear: both
}

/* End rules*/
 /*start section toolbox */
.option-box{
    position: fixed;
    top: 130px;
    left: 0;  
    z-index: 9999;

}
.option-box .color-option{
    float: left;
    background-color: #333;
    color: #FFF;
    padding: 10px;
    width: 200px;
    display: none;
}   
.option-box .color-option ul li{
    width: 20px;
    height: 20px;
    background-color:#F00;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
}
.option-box .gear-check{
    padding: 5px;
    background: #333;
    color: #FFF; 
    cursor: pointer;

}
/*start section toolbox */
 
.search-navbar{
background-color: #000000;
        padding: 10px 40px; 
}
.search-navbar .log-in li{
display: inline-block
}
.search-navbar .dropdown, .dropup {
    position: relative;
    float: right;
    margin-right: 25px;
    
}
.search-navbar .dropdown-menu{
    left: -91px;
    width: 170px;
    margin-top: 0px;
    border-top: 3px solid #286090;
    padding: 0
}
.search-navbar .dropdown-menu a{
    padding: 10px 30px
}
.search-navbar .dropdown-menu a:hover{
    border-right:3px solid  #286090;
    border-radius: 0 2px 2px 0;

}
.search-navbar .dropdown-menu i{
    position: absolute;
        left: 8px;
    top: 48px;

    font-size: 24px;
}
.left .search{
background-color: #312622;
    padding: 7px 10px;
    border-radius: 15px;
    width: 75%;
    display: inline-block
}
.search input[type="text"]{
display: inline-block;
    width: 74%;
    border-radius: 15px;
    height: 25px;
    text-indent: 7px
}
.search input[type="submit"]{
        width: 22%;
    padding: 1px 0px;
}
.search-navbar .search i{
    display: inline-block;
    color: white;
    margin-right: 5px;
    margin-left: 7px;
    font-size: 18px
}
.search-navbar .right .log-in{
float: right
}
.search-navbar .right .log-in li{
    padding: 7px 15px;
    border-radius: 20px;
    color: #F7F6F6;
    margin-left: 7px;
font-size: 20px;
background-color: #312622;
}
.search-navbar .right .log-in li a{
 color: #F7F6F6;
}
/*start navbar*/
.navbar{
    overflow: visible;
    position: absolute;
    width: 100%;
    background-color: rgba(9,9,9,0.4);
    padding: 10px 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0;
    z-index: 1
}
.navbar a{
      color: #F7F6F6;
}
.navbar a:hover{
      text-decoration: none
}
.navbar:after{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 200px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -35px;
    left: 36%;
    z-index: 0
}
.navbar .left{
    position: relative;
float: left;
}

.navbar .right:after{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 32px;
    border-style: solid;
    border-color: black black transparent transparent;
       top: -10px;
    right: -41px
}
.navbar .left:before{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 32px;
    border-style: solid;
    border-color: black transparent transparent  black ;
        top: -10px;
    left: -41px
}
.navbar .dropdown button{
        background-color: #312622;
    border: none;
    padding: 0;
    font-size: 20px;
        background-color: #312622;
    border-color: #312622;
    outline-color: #312622;
}
.navbar .btn-primary.active.focus,
.navbar .btn-primary.active:focus, 
.navbar .btn-primary.active:hover, 
.navbar .btn-primary:active.focus, 
.navbar .btn-primary:active:focus, 
.navbar .btn-primary:active:hover, 
.navbar .open>.dropdown-toggle.btn-primary.focus, 
.navbar .open>.dropdown-toggle.btn-primary:focus, 
.navbar .open>.dropdown-toggle.btn-primary:hover{
        background-color: #312622;
    border-color: #312622;
    outline-color: #312622;
}
.navbar .dropdown .caret{
        border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.navbar ul li{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 20px;
    color: #F7F6F6;
    margin-left: 5px;
font-size: 20px;
background-color: #312622;
}
.navbar .dropdown .dropdown-menu li{
    padding: 0;
    background-color: #fff;
    color: #333;
    display: block;
    margin-left: 0
}
.navbar .dropdown .dropdown-menu li a{
    padding: 7px 10px;
    transition: padding-left 1s ease-out;
   
}
.navbar .dropdown .dropdown-menu li a:hover{
    padding-left: 11px;
     border-left: 4px solid #312622 
}
.navbar .dropdown .dropdown-menu{
    padding: 0;
}
.navbar .dropdown-menu{
    left: 5px;
    width: 170px;
    margin-top: 0px;
    border-top: 4px solid #312622;
    padding: 0;
    top: 37px;
    
}
.navbar .brand{
position: absolute;
    top: -18px;
    left: 42%;
    z-index: 5;
    color: #FFF;
    z-index: 1   
}
.brand h1{
font-family: yukarimobile;
    font-weight: bold;
}
.brand img{
display: block;
  width: 67px;
    height: 67px;
    margin: 0 auto;
}
.navbar .active{
background-color: #A22401
}
.navbar .right ul{
    float: right
}

/*start cover*/
.cover{
position: relative;
    
}
.cover img{
 height: 500px;
 width: 100%
}
 
/*end cover*/
/*start cover*/
.profilepic{
text-al: center;
  
    
}
.profilepic #pic{
position: absolute;
  top: 69%;
  left: 42.5%;
  width: 200px;
  height: 200px
  
}
 .profilepic #edit{
  position: absolute;
  top: 50%;
  left: 770px;
  top: 80%;
}

.profilepic #pop_background{
    position: fixed;
    width: 100%;
    height: 900px;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 1000;
    cursor: pointer;    
    display: none;
 }
 .profilepic #pop_box{
    position: absolute;
    background: #fff;
    width: 30%; 
    margin: 100px 0 0 35%;
    padding: 20px;
    z-index: 1500;
    display: none;
    top: 20%;
     background-color: #DB2700;
     color: #FFF;
     max-height: 200px
 }
 .profilepic #pop_box input[type="submit"]{
     margin-top: 10px
 }
 .profilepic #close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-bottom: 10px
 }

/*end cover*/

/*Start Animated menu */
#navigation{
  position:relative;
  margin:0;
  padding:0;
  
  list-style:none;
 
border-radius:0px 10px 10px 0px;
margin-top: 10px

}
#navigation li{width:100px;}
#navigation li a{
  text-align: center;
text-decoration: none;
font-family: "Cabin";
color: #555;
font-weight: bold;
font-size: 16px;
display: block;
margin-left: -2px;
padding: 7px 0px;
width: 140px;
height: auto;
border:1px solid #AFAFAF;
border-radius:0px 10px 10px 0px;
box-shadow: 0px 2px 2px #333;
}
/*start categories*/
.category-items,.recommended{
padding-bottom: 50px;
    background-color: #8B1900
}
.category-items{
    position: relative;
}
.category-name,.recommended-name{
    margin-top: 140px;
    padding: 2px 0;
    background-color: #791702;
    color: #FFF;
    margin-bottom: 30px
}
.category-name{
    position: relative;top: 187px;margin-bottom: 211px;margin-top: 0
}
.category-name p,.recommended-name p{
    margin: 0;
    text-align: center;
    font-size: 50px;
    font-family: yukarimobile;
}
.category-items .item{
    background-color: #FFEEEA;
 position: relative;
    border-radius: 30px;
padding-bottom: 25px;
        width: 75%;
    margin: 65px auto;
    margin-bottom: 20px;

}
.category-items .item-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    margin-bottom: -54px
}
.category-items .item-image img{
        padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    width: 150px;
    height: 114px
}
.category-items .item .item-image p{
     position: absolute;
    
    font-family: yukarimobile;
    padding: 10px 10px;
    background-color: #C02200;
    border-radius: 50%;
    top: 86px;
    left: 48.05px;
    color: #FFF;
    border: 3px solid #FFF;
    box-shadow: 1px 1px 11px #ccc;
    font-size: 18px;
}
.category-items .item .item-image p span{
    font-family: arial;
    margin-left: 3px;
    font-weight: bold
}
.category-items .item .item-head{
    background-color: #D42600;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    font-size: 26px;
    padding: 3px
}
.category-items .item .item-head li{
    display: inline-block
}
.category-items .item .item-head li:nth-of-type(2){
   font-size:22px ;
   text-transform: capitalize;
   color: #FFF;
   font-weight: bold
   
}
.category-items .item .item-head li:nth-of-type(1){
        position: absolute;
    left: 5px;
    top: -8px;
    
}
.category-items .item .item-head li:nth-of-type(3){
        position: absolute;
    right: 5px;
    top: -8px;
}
.category-items .item .item-head li img{
    padding: 17px 17px;
    width: 60px;
    height: 60px;
    background-color: #D42600;
        border: 2px solid #FFF;
    border-radius: 50%;
}
.category-items .item .item-size {
    margin-bottom: 15px
}
.category-items .item .item-size li{
    display: inline-block;
    font-family: yukarimobile;
    font-size: 22px;
     background-color: #FF8D67;
     color: #FFF;
     border-radius: 50%;
     box-shadow: 1px 3px 6px rgba(119, 119, 119, 0.42)
}
.category-items .item .item-size li:nth-of-type(1){
    padding: 0 11px
}
.category-items .item .item-size li:nth-of-type(3){
    padding: 0 15px
}
.category-items .item .item-size li:nth-of-type(2){
    padding: 1px 8px;
    margin-right: 8px;
    margin-left: 8px
}
.category-items .item p{
    padding: 0 10px;
    text-align: center;
    font-family: arial;
    color: #333;
    margin-bottom: 30px
}
.category-items .item a{
    color: #FFF;
    padding: 10px 10px;
    background-color: #007F00;
    margin-top: 20px;
    border-radius: 27%;
    font-family: yukarimobile;
    font-size: 18px;
    border: 2px solid #FFF;
    box-shadow: 3px 3px 13px rgba(157, 157, 157, 0.66);

}
.navigation ul{
        text-align: center;
        position: relative;
        margin-top: 30px;
        margin-bottom: 50px
}
.navigation ul li{
    display: inline-block;
    font-size: 50px;
    font-family: yukarimobile;
    color: lightgray;
}
.navigation ul li a{
     color: lightgray;
}
.navigation ul span{
        padding: 0px 7px;
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    border-radius: 6px;
    /* margin-top: 110px; */
    display: inline-block;
    position: relative;
    top: 24px;
}
.navigation ul span,.navigation ul a  {
    margin-left: 5px;
    
}
.navigation ul span{
    font-size: 20px;
    font-weight: bold
}
.navigation ul .activelink{
   background-color: #FFF;
   color: black
}
.navigation ul span:first-child {
    margin-left: 0;
}

.navigation ul li:nth-of-type(1){
    margin-right: 30px
}
.navigation ul li:nth-of-type(2){
    margin-left : 30px
}
.navigation ul li i{
    font-size: 70px;
   position: relative;
   top: 25px
}
.navigation ul li:nth-of-type(1) i{
    margin-right: 20px;
    
}
.navigation ul li:nth-of-type(2) i{
    margin-left: 20px;
    
}

.text-info p{
    display: inline-block;

}
.text-info{
    color: #FFF;
    font-size: 25px
}
.form-info input{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 50px
    
}
.form-info input[type="submit"]{
    width: 15%;
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 111px;
    height: 40px
}
/*End Animated menu */
