/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2017, 8:28:17 PM
    Author     : OSAMA
*/

body{
    background-image: url('../images/login.png')  ;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.logo-login{
  position: relative;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    z-index: 1;
     margin-bottom: 120px
}
.logo-login *{
    position: relative
}
.logo-login img{
      position: absolute;
    left: 47.5%;
    top: 65px;
    width: 62px;
    transform: rotate(7deg);
}
.logo-login:before{
    content: "";
    width: 0;
    height: 0;
    border-width:200px;
    position: fixed;
    border-color: black transparent transparent transparent;
    border-style: solid;
    left: 35.17%;
    top: -40px;
    z-index: 0
}
.logo-login h3{
       margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Yukarimobile;
    font-size:40px;
    font-weight: bold;
   
}
.login-form{
    width: 33%;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: rgba(76, 76, 76, 0.45);
    position: relative;
    z-index: 50;
    
}
.login-form h1{
     font-family: Yukarimobile;
     color: #FFF;
     font-size:70px;
     font-weight: bold;
     margin-bottom: 27px
}
.login-form input{
        width: 66%;
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    height: 59px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: tahoma;
    text-align: center
}
.login-form input[type="submit"]{
    background-color: #FF2A2A;
   font-family: Yukarimobile;
     color: #FFF;
     font-size:40px;
     height: auto;
     font-weight: bold;
     margin-top: 30px
}