*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    border-radius: 0
}
ul{
margin-bottom: 0
}
.clear{
    clear: both
}
/* End rules*/
.search-navbar{
background-color: #000000;
        padding: 10px 40px; 
}
.search-navbar ul li{
display: inline-block
}
.search-navbar,.bottom{
overflow: hidden;
}
.left .search{
background-color: #312622;
    padding: 7px 10px;
    border-radius: 15px;
    width: 60%;
    display: inline-block
}
.search input{
display: inline-block;
    width: 80%;
    border-radius: 15px;
    height: 25px;
    text-indent: 7px
}
.search-navbar .search i{
    display: inline-block;
    color: white;
    margin-right: 5px;
    margin-left: 7px;
    font-size: 18px
}
.search-navbar .right ul{
float: right
}
.search-navbar .right ul li{
    padding: 7px 15px;
    border-radius: 20px;
    color: #F7F6F6;
    margin-left: 7px;
font-size: 20px;
background-color: #312622;
}
/*start navbar*/
.navbar{
    overflow: visible;
    position: relative;
    width: 100%;
    background-color: rgba(9,9,9,0.4);
    padding: 10px 40px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 0;
    z-index: 1
}
.navbar:after{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 200px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    top: -35px;
    left: 36%;
    z-index: 0
}
.navbar .left{
    position: relative;
float: left;
}
.navbar .right:after{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 32px;
    border-style: solid;
    border-color: black black transparent transparent;
       top: -10px;
    right: -41px
}
.navbar .left:before{
content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 32px;
    border-style: solid;
    border-color: black transparent transparent  black ;
        top: -10px;
    left: -41px
}
.navbar ul li{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 20px;
    color: #F7F6F6;
    margin-left: 5px;
font-size: 20px;
background-color: #312622;
}
.navbar .brand{
position: absolute;
    top: -18px;
    left: 42%;
    z-index: 5;
    color: #FFF;
    z-index: 1   
}
.brand h1{
font-family: yukarimobile;
    font-weight: bold;
}
.brand img{
display: block;
  width: 67px;
    height: 67px;
    margin: 0 auto;
}
.navbar .active{
background-color: #A22401
}
.navbar .right ul{
    float: right
}
/*end navbar*/
/*start online form*/
.online-reservation{
    position: relative;
    height: 700px;
    max-height: 700px;
    background-image: url('../images/1 (1).jpg')  ;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
}
      .online-reservation .blur{
         
        height: 700px;
        max-height: 700px ;
        background-color:rgba(9,9,9,0.89)
    }
   .online-reservation .online-form{
        position: relative;
        width: 80%;
        margin:  0 auto;
      height: 460px;
    margin-top: 112px;
     z-index: 6
    }
    .online-form h1{      
        color: #fff7f8;
        font-weight: bold;
        text-transform: uppercase;
    }
    .online-form h1:after{
        content: "";
        display: block;
        width: 20% ;
        height: 6px;
        background-color: #F7F6F6;
        margin: 20px auto;
        margin-bottom: 20px;
        border-radius:10px 10px 0 0
    }
    .online-form p{
        color: gray;
        margin-bottom: 30px
    }
    .online-form input[type="text"],.online-form input[type="time"],.online-form input[type="date"],.online-form select{
        display: inline-block;
        width: 40%;
        margin-bottom: 15px;
        height: 42px;
        border: 1px solid rgba(82,82,82,0.33);
        background-color: rgba(82,82,82,0.33);
        color: #FFF
    }
    .online-form input[type="submit"]{
        display: block;
        width: 25%;
        margin: 10px auto;
        font-family: yukarimobile;
        font-size: 20px;
        height: 44px;
        margin-top: 30px
    }
    .online-form .even,.online-form select{
      float: left
  }
  .online-form select option{
      background-color:#282A31;
      color: #FFF;
    
  }
  .online-form .odd{
      float: right
  }
/*end online form*/

/*start footer*/
.footer{
    padding: 15px 0;
    background-color: black
}
.footer .logo h3{
        font-size: 38px;
    font-family: cursive;
    color: #FFF;
}
.footer .logo img{
    width: 76%
}
.footer .contact-us h3,.footer .newsletter h3{
        color: white;
    font-size: 30px;
   
    font-family: cursive;
    padding-bottom: 10px;
position: relative
}
.footer .contact-us ul{
        line-height: 2.5;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 16px
}
.footer .contact-us i{
     padding: 5px 8px;
    background-color: #FFF;
    color: black;
    border-radius: 50%;
    margin-right: 11px;
    font-size: 18px;
}
.footer .social li{
    display: inline-block;
    margin-top: 10px;
   margin-left: 5px
}
.footer .social li img{
     border: 3px solid #FFF
}
.footer form input[type="submit"]{
        margin-left: -4px;
    border: 0;
    background-color: #FF2A2A;
    border-radius: 0;
    font-weight: bold;
    color: #FFF;
    padding: 5px 30px;
    width: 30%;
    font-size: 18px
}
.footer .newsletter p{
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 55px
}
.footer form input[type="text"]{
    border-radius: 0;width: 70%
}
.contact-us h3:before,.newsletter h3:before{
    content:"";
    width: 20%;
    background-color: orangered;
    height: 3px;
    display: inline-block;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 40px;
    left: 0;
   
}
.contact-us h3:after,.newsletter h3:after{
    content:"";
    width: 60%;
    background-color: #FFF;
    height: 3px;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 40px;
    left: 20%
   
}
.footer ul:nth-of-type(1) li:nth-of-type(1) i{
    padding: 3px 6px;
}
.footer ul:nth-of-type(1) li:nth-of-type(2) i{
    padding: 3px 8px;
}
.footer ul:nth-of-type(1) li:nth-of-type(3) i{
    padding: 4px 5px;
}